body {
  padding: 0px;
  background-color: aliceblue;
  text-align: justify;
  font-size: 20px;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";

}

@media (max-width:800px) {
  body {
    flex-direction: column;

  }
}



/*seta*/
.top {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: #FF0000;
  font-size: 50px;
  z-index: +1111;
}

/*H*/
h1 {
  text-align: center;
}

h5 {
  text-align: center;
  font-size: 20px;

}

h2 {
  text-align: center;
  font-size: 20px;

}

h3 {
  text-align: center;
  font-size: 20px;

}

h4 {
  text-align: center;
  font-size: 20px;

}

/*H*/

.logo1 {
  width: 100%;
}

/*MENU*/
nav {
  width: 100%;
  background-color: #22282E;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: +1111;
}

.logo {
  line-height: 10px;
  float: left;
  text-transform: uppercase;
}

.menu {
  float: right;
  line-height: 20px;
}

.menu a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 30px;
}

.show-menu-btn,
.hide-menu-btn {
  font-size: 40px;
  cursor: pointer;
  display: none;
  color: blanchedalmond;
  margin-right: 20px;
}

.show-menu-btn {
  float: right;
}

.show-menu-btn i {
  line-height: 10px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
  color: #334466;
}

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

/*MENU FIM*/


section {
  width: 550px;
  height: 300px;
  display: inline-block;

}

.sec1 {
  margin: 70px;
  line-height: 50x;

}

.sec2 {
  margin: 50px;
}

@media screen and (max-width:800px) {
  .com {
    background-size: 100%;
  }

  .sec1 {
    width: 100%;
  }

  .sec2 {
    width: 100%;
  }
}

@media screen and (max-width:600px) {
  .com {
    margin: 0;
  }

  .sec1 {
    margin: 0;
  }

  .sec2 {
    margin: 0;
  }
}


.slidershow {
  width: 100%;
  height: 650px;
  overflow: hidden;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.middle {
  position: relative;

}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bar {
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}

.bar:hover {
  background: #fff;
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slide {
  width: 20%;
  transition: 0.6s;
}

.slide img {
  width: 100%;
  height: 100%;
}

#r1:checked~.s1 {
  margin-left: 0;
}

#r2:checked~.s1 {
  margin-left: -20%;
}

#r3:checked~.s1 {
  margin-left: -40%;
}

#r4:checked~.s1 {
  margin-left: -60%;
}

#r5:checked~.s1 {
  margin-left: -80%;
}

@media screen and (max-width:800px) {
  .slidershow {
    margin: 0;
  }
}


.divi {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.logojava {
  width: 400px;
  height: 450px;
}

.textjava {
  padding: 50px 20px;
  width: 800px;
  height: 450px;
}

@media screen and (max-width:800px) {
  .divi {
    flex-direction: column;
    width: 100%;
  }

  .textjava {
    width: 100%;
  }

  .logojava {
    margin-left: 30px;
  }
}


footer {
  background-color: #40A0B0;
}

.footer-container {
  max-width: 1300px;
  margin: center;
  padding: 10px 10px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.redes-sociais {
  margin: 20px;
  text-align: center;
}


.redes-sociais a {
  color: #001a21;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: .3s linear;
}

.redes-sociais a:hover {
  color: #fc5c65;
}


.container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.mapas {
  padding: 20px;
}